body{color: aqua;}
body{background-color: rgb(255, 226, 172);}
h1{color: orange;}
p{border: 10px solid red; color: purple}
h2{background-color: teal;}


h3{font-family: Arial, Helvetica, sans-serif; font-size: 150%;}
h4{border: 6px solid greenyellow; padding: 20px;}
h5{margin: 100px;}